/* styles.css */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centered-div {
  background-color: lightblue;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  width: 100%;
  text-align: center;
}

.medicines-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.medicine-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.error-message {
  color: red;
  font-weight: bold;
}

